# =============================================
#  misskey backup 
#  バックアップを自動実行する時間を定義します。
# =============================================
0 */12 * * * . /root/backup.sh
# Google Driveへのバックアップを併用する場合、以下のコメントを解除してください。
#0 * * * * . /root/backup-gdrive.sh